In [1]:
import pandas as pd

In [10]:
car=pd.read_csv(r"C:\Users\vanis\OneDrive\Desktop\car project\large_car_data_project.csv")

In [13]:
# Find all null value in the dataset if there is any null value in any column,
# then fill it with the mean of that column
car.isnull().sum()

Car_ID          0
Brand           0
Model           0
Year            0
Fuel_Type       0
Engine_Size     0
Transmission    0
Price           0
Color           0
Mileage_kmpl    0
Seats           0
Owner_Type      0
dtype: int64

In [14]:
car['Mileage_kmpl'].fillna(car['Mileage_kmpl'].mean(),inplace=True)
car

C:\Users\vanis\AppData\Local\Temp\ipykernel_20664\3002480344.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  car['Mileage_kmpl'].fillna(car['Mileage_kmpl'].mean(),inplace=True)

,Car_ID,Brand,Model,Year,Fuel_Type,Engine_Size,Transmission,Price,Color,Mileage_kmpl,Seats,Owner_Type
0,1,Ford,Corolla,2017,Petrol,2.2L,Manual,35465,Yellow,12.0,4,Third
1,2,Kia,3 Series,2023,Diesel,1.8L,CVT,16835,Grey,12.0,4,Third
2,3,Ford,Jetta,2020,Hybrid,1.4L,Manual,19280,White,13.0,6,First
3,4,Tesla,Forte,2015,Hybrid,1.2L,CVT,10660,Grey,10.7,7,First
4,5,Hyundai,C-Class,2017,Diesel,2.4L,Manual,34074,Silver,17.6,6,Second
...,...,...,...,...,...,...,...,...,...,...,...,...
395,396,Audi,Corolla,2021,Electric,0L,Automatic,36590,Yellow,19.1,6,Third
396,397,Volkswagen,Altima,2021,Hybrid,2.0L,Manual,34714,Grey,15.2,4,Second
397,398,Hyundai,Altima,2017,Electric,0L,CVT,59178,Blue,12.9,6,Second
398,399,BMW,Model 3,2018,Diesel,0L,Manual,18416,Red,11.0,5,Second
399,400,Hyundai,Corolla,2015,Petrol,0L,CVT,55336,Black,20.4,4,First

In [16]:
#check what are the different types of make are there in our dataset and,
#What is the count (occurrence) of each make in the data
print(car.head())
car['Brand'].value_counts()

   Car_ID    Brand     Model  Year Fuel_Type Engine_Size Transmission  Price  \
0       1     Ford   Corolla  2017    Petrol        2.2L       Manual  35465
1       2      Kia  3 Series  2023    Diesel        1.8L          CVT  16835
2       3     Ford     Jetta  2020    Hybrid        1.4L       Manual  19280
3       4    Tesla     Forte  2015    Hybrid        1.2L          CVT  10660
4       5  Hyundai   C-Class  2017    Diesel        2.4L       Manual  34074

    Color  Mileage_kmpl  Seats Owner_Type
0  Yellow          12.0      4      Third
1    Grey          12.0      4      Third
2   White          13.0      6      First
3    Grey          10.7      7      First
4  Silver          17.6      6     Second

Brand
Tesla         42
Ford          39
Volkswagen    37
BMW           37
Honda         34
Hyundai       34
Nissan        34
Kia           32
Mercedes      30
Toyota        29
Audi          27
Chevrolet     25
Name: count, dtype: int64

In [19]:
# Show all the records where Year 2015 or 2017
car[car['Year'].isin([2015,2017])]

,Car_ID,Brand,Model,Year,Fuel_Type,Engine_Size,Transmission,Price,Color,Mileage_kmpl,Seats,Owner_Type
0,1,Ford,Corolla,2017,Petrol,2.2L,Manual,35465,Yellow,12.0,4,Third
3,4,Tesla,Forte,2015,Hybrid,1.2L,CVT,10660,Grey,10.7,7,First
4,5,Hyundai,C-Class,2017,Diesel,2.4L,Manual,34074,Silver,17.6,6,Second
7,8,Nissan,Forte,2017,Electric,1.6L,CVT,24045,Black,12.6,6,Second
8,9,Hyundai,Elantra,2017,Petrol,2.0L,Automatic,53144,Black,22.2,5,Second
...,...,...,...,...,...,...,...,...,...,...,...,...
388,389,Tesla,Cruze,2015,Petrol,1.2L,Automatic,32495,Red,21.9,4,First
390,391,Audi,Forte,2017,Diesel,1.6L,Manual,46078,Red,23.5,4,Third
391,392,Honda,Cruze,2015,Electric,1.8L,Automatic,56866,Grey,13.7,7,First
397,398,Hyundai,Altima,2017,Electric,0L,CVT,59178,Blue,12.9,6,Second
399,400,Hyundai,Corolla,2015,Petrol,0L,CVT,55336,Black,20.4,4,First

In [22]:
# Remove all the records (rows) where Price is above 55000
car[~(car['Price']>55000)]

,Car_ID,Brand,Model,Year,Fuel_Type,Engine_Size,Transmission,Price,Color,Mileage_kmpl,Seats,Owner_Type
0,1,Ford,Corolla,2017,Petrol,2.2L,Manual,35465,Yellow,12.0,4,Third
1,2,Kia,3 Series,2023,Diesel,1.8L,CVT,16835,Grey,12.0,4,Third
2,3,Ford,Jetta,2020,Hybrid,1.4L,Manual,19280,White,13.0,6,First
3,4,Tesla,Forte,2015,Hybrid,1.2L,CVT,10660,Grey,10.7,7,First
4,5,Hyundai,C-Class,2017,Diesel,2.4L,Manual,34074,Silver,17.6,6,Second
...,...,...,...,...,...,...,...,...,...,...,...,...
393,394,Volkswagen,Civic,2018,Electric,1.4L,CVT,34966,White,13.5,4,Third
394,395,Hyundai,Jetta,2023,Hybrid,1.8L,Manual,29093,Green,22.3,4,Third
395,396,Audi,Corolla,2021,Electric,0L,Automatic,36590,Yellow,19.1,6,Third
396,397,Volkswagen,Altima,2021,Hybrid,2.0L,Manual,34714,Grey,15.2,4,Second
398,399,BMW,Model 3,2018,Diesel,0L,Manual,18416,Red,11.0,5,Second

In [24]:
#Increase all the values of 'Seats' column by 2
car['Seats']=car['Seats'].apply(lambda a:a+2)
car

,Car_ID,Brand,Model,Year,Fuel_Type,Engine_Size,Transmission,Price,Color,Mileage_kmpl,Seats,Owner_Type
0,1,Ford,Corolla,2017,Petrol,2.2L,Manual,35465,Yellow,12.0,6,Third
1,2,Kia,3 Series,2023,Diesel,1.8L,CVT,16835,Grey,12.0,6,Third
2,3,Ford,Jetta,2020,Hybrid,1.4L,Manual,19280,White,13.0,8,First
3,4,Tesla,Forte,2015,Hybrid,1.2L,CVT,10660,Grey,10.7,9,First
4,5,Hyundai,C-Class,2017,Diesel,2.4L,Manual,34074,Silver,17.6,8,Second
...,...,...,...,...,...,...,...,...,...,...,...,...
395,396,Audi,Corolla,2021,Electric,0L,Automatic,36590,Yellow,19.1,8,Third
396,397,Volkswagen,Altima,2021,Hybrid,2.0L,Manual,34714,Grey,15.2,6,Second
397,398,Hyundai,Altima,2017,Electric,0L,CVT,59178,Blue,12.9,8,Second
398,399,BMW,Model 3,2018,Diesel,0L,Manual,18416,Red,11.0,7,Second
399,400,Hyundai,Corolla,2015,Petrol,0L,CVT,55336,Black,20.4,6,First